<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include header.ejs %>
    <table>
      <thead>
        <th>Name</th>
        <th>IsSell</th>
        <th>Price</th>
        <th>Image src</th>
        <th>Tags</th>
      </thead>  
      <tbody>
        <% results.forEach( producto => { %>
          <tr>
          <td><%= producto.name %></td>
          <td><%= producto.sell%></td>
          <td><%= producto.price%></td>
          <td><%= producto.image%></td>
          <td><%= producto.tags%></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
